

 <!DOCTYPE html>
<html>
  <head>
    <script src="../routes/index.js"></script>
  </head>
	<div class="jumbotron jumbotron">
	  <h1 class="display-3">Banking App</h1>
	  <p class="lead">This is a simple Banking application.</p>
	  <hr class="my-4">
	  <p>Available actions: Login, Register, Withdraw, Deposit, API</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
	    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
	    <a class="btn btn-primary btn-lg" href="/api" role="button">Api</a>
	  </p>
	</div>
  </body>
</html> 